body {
    background-color: #000035;
}

.navbar {
    background-color: #000035 !important;
    height: 74px;
}

.nav-link > .navbar-nav {
    font-weight: 500;
    line-height: 19px;
    font-size: 16px;
}

.btn-ua {
    float: left;
    color: white;
}

.introduction {
    background-color: white !important;
}

.analytics {
    background-color: #000035 !important;
}

.section-heading {
    text-align: center;
    margin-top: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 49px;
}

.section-subheading {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 33px;
}

.analytics-icons {
    padding-left: 15px;
}

.sphere-heading {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    margin-top: 22px;
    padding-left: 20px;
}

.media {
    background-color: #000035 !important;
}

.media-heading {
    text-align: center;
    margin-top: 11px;
    font-weight: bold;
    font-size: 22px;
    line-height: 49px;
}

.news-holder {
    background-color: white;
}

.leaders {
    background-color: #000035 !important;
}

.leaders-heading {
    text-align: center;
    margin-top: 11px;
    font-weight: bold;
    font-size: 22px;
    line-height: 49px;
}

.leaders-wrap {
    justify-content: space-between;
}

.leader-holder {
    background-color: #7CA4C9;
}

.leader-info {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}

.events {
    background-color: white !important;
}

.events-heading {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 49px;
    text-align: center;
    color: #000035;
}

.event-name {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    margin-top: 10px;
}

.footer {
    background-color: #000035 !important;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
}

.footer-item {
    justify-content: space-between;
    padding-bottom: 10px;
}    